#overflow-hidden::-webkit-scrollbar {
  display: none;
}

.selectBtn{
  display: flex;
  background: #e2e1e1;
   width: 100%;
}
.activeUser{
  background: #212529;
  color: #fff;

}
.activeUser:hover{
  background: #212529 !important;
color: #fff !important;
}
.selectBtn:hover{
  background: #bdbbbb;
}